<a href = "/rock">Play Rock</a>
<a href = "/paper">Play Paper</a>
<a href = "/scissors">Play Scissors</a>

<!--all of the ruby code is in game_controller.rb-->
<h1>
    We played paper!
</h1>

<h1>
    They played <%= @computer_move %>!
</h1>

<h1>
    <%= @paper_game_result %>
</h1>

<a href = "/">Rules</a>