<a href = "/rock">Play Rock</a>
<a href = "/paper">Play Paper</a>
<a href = "/scissors">Play Scissors</a>

<h1>
    We played rock!
</h1>

<h1>
    They played <%= @computer_move %>!
</h1>


<h1>
    <%= @rock_game_result %>
</h1>

<a href = "/">Rules</a>